/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Typography Scale */
:root {
	--base-font: 16px;
	--ratio: 1.25;

	--sm-font: var(--base-font);
	--md-font: calc(var(--base-font) * var(--ratio));
	--lg-font: calc(var(--md-font) * var(--ratio));
	--xl-font: calc(var(--lg-font) * var(--ratio));
	--xxl-font: calc(var(--xl-font) * var(--ratio));
	--xxxl-font: calc(var(--xxl-font) * var(--ratio));

	--bg-main: #121212;
	--bg-secondary: #1d1d1d;
	--green: #d2f565;
	--green-light: #dcf689;
	--red: #e84f2d;
	--white: whitesmoke;
	--gray: #777777;
}

/* Simple CSS Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body */
body {
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
	width: 100%;
	height: 100vh;
	color: var(--white);
}

/* Typography */

p {
	margin-top: min(1rem, 5%);
	font-size: var(--sm-font);
	color: var(--gray);
}

h1 {
	font-size: var(--xxxl-font);
	line-height: 1.3;
}

h2 {
	font-size: var(--xxl-font);
	line-height: 1.3;
}

h3 {
	font-size: var(--xl-font);
	line-height: 1.3;
}

h4 {
	font-size: var(--lg-font);
	line-height: 1.3;
}

h5,
h6 {
	font-size: var(--md-font);
	line-height: 1.3;
}

ul {
	list-style-type: none;
}

/* Basic Responsive Type */
@media screen and (max-width: 768px) {
	:root {
		--ratio: 1.125;
	}
}

i {
	margin-right: 16px;
}

/* Wrapper */
.dashboard-wrapper {
	padding: 64px;
	background: var(--bg-main);
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 2fr 3fr 1fr;
	gap: 16px;
	width: 100%;
	height: 100vh;
}

/* .dashboard-wrapper > div {
	border: 1px solid brown;
} */

/* header */
.header {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header ul li {
	float: left;
	margin-right: 16px;
}

.account ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

.account ul li {
	display: flex;
	align-items: center;
	justify-content: center;
}

.account img {
	width: 32px;
	height: 32px;
	margin-right: 8px;
	object-fit: cover;
	border-radius: 50%;
}

.account .notification {
	position: relative;
}

.account .notification::before {
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background: var(--red);
	position: absolute;
	top: 0;
	left: 0;
}

.header p {
	margin-top: 0;
}

.header nav li:hover {
	color: var(--green);
	cursor: pointer;
}

/* Sidebar */
.logo img {
	width: 100px;
	height: auto;
}

.sidebar {
	grid-column: 1 / 2;
	grid-row: 1 / 5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 0.5px solid rgba(128, 128, 128, 0.336);
	margin-right: 16px;
}

.sidebar > * {
	padding: 32px;
}

.sidebar .logo {
	border-bottom: 0.5px solid rgba(128, 128, 128, 0.336);
	border-bottom-right-radius: 32px;
}

.sidebar .mid {
	border-top: 0.5px solid rgba(128, 128, 128, 0.336);
	border-top-right-radius: 32px;
	border-bottom: 0.5px solid rgba(128, 128, 128, 0.336);
	border-bottom-right-radius: 32px;
	flex: 1;
}

.sidebar .bot {
	border-top: 0.5px solid rgba(128, 128, 128, 0.336);
	border-top-right-radius: 32px;
}

.sidebar nav li {
	margin-bottom: 32px;
	cursor: pointer;
	color: var(--gray);
	transition: all 0.3s ease-in-out;
}

.sidebar nav li:hover {
	font-weight: 500;
	color: var(--white);
}

.sidebar nav li:hover i {
	color: var(--green);
}

.sidebar nav li.logout:hover i {
	color: var(--red);
}

/* Analytics Cards */
.analytics-card {
	grid-column: 2 / -1;
	grid-row: 2 / 3;
	display: flex;
}

.analytics-card .card {
	padding: 16px;
	flex: 1;
	background: var(--bg-secondary);
	border-left: 0.25px solid rgba(128, 128, 128, 0.336);
	border-right: 0.25px solid rgba(128, 128, 128, 0.336);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
}

.card .title span {
	font-weight: 500;
}

.card .title i {
	background: var(--gray);
	padding: 8px;
	border-radius: 100%;
}

.card .title {
	margin-bottom: 32px;
}

.card .data {
	font-size: var(--xl-font);
	font-weight: 500;
	margin-bottom: 16px;
}

.card .sub-data {
	display: flex;
	gap: 16px;
}

.card .percentage i {
	margin-right: 8px;
}

.card.profit .percentage {
	color: var(--green);
}

.card.loss .percentage {
	color: var(--red);
}

.card:first-child {
	border-left: 0;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.card:last-child {
	border-right: 0;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
}

.card:hover,
.card:hover .percentage {
	background: var(--green);
	color: var(--bg-main);
	animation: bg-transition 0.4s ease-in-out forwards;
}

.card > * {
	z-index: 1;
}

.card:hover::before {
	content: "";
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 45px solid var(--green-light);
	position: absolute;
	right: 16px;
	bottom: 66px;
	z-index: 0;
}

.card:hover::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 45px solid var(--green-light);
	position: absolute;
	right: 16px;
	bottom: 0;
	z-index: 0;
}

/* Graph */
.bar-graph {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	background: var(--bg-secondary);
	padding: 16px;
	border-radius: 16px;
}

.bar-graph .graph-image {
	width: 100%;
	height: auto;
}

#line-example-15 {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

/* Pie Graph */
.pie-graph {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	background: var(--bg-secondary);
	padding: 16px;
	border-radius: 16px;
}

/* Analytics Table */
.analytics-table {
	grid-column: 2 / 4;
	grid-row: 4 / 5;
	background: var(--bg-secondary);
	padding: 16px;
	border-radius: 16px;
}

.analytics-table .title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;
}

.analytics-table .title input {
	width: 500px;
	padding: 8px;
	background: transparent;
	border: 0.25px solid rgba(128, 128, 128, 0.336);
	border-radius: 8px;
}

.analytics-table .title select {
	width: 150px;
	padding: 8px;
	background: transparent;
	border: 0.25px solid rgba(128, 128, 128, 0.336);
	border-radius: 8px;
	color: var(--white);
}

.analytics-table table {
	width: 100%;
	text-align: left;
}

.analytics-table table tr:first-child th {
	color: var(--gray);
	font-size: var(--sm-font);
	font-weight: 400;
	margin-bottom: 8px;
}
@keyframes bg-transition {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
